footer
  .container.text-center
    p.float-left
      a(href='https://github.com/anthonyronning/litreon') GitHub Project
    ul.float-right.list-inline
      li.list-inline-item Made with ⚡️ by&nbsp
        a(href='https://twitter.com/cycryptr') Cycryptr
