extends layout

block content
  h1 Welcome to Satreon
  p.lead Support your favorite content creators with Lightning!
  hr
  .row
    each userProfile in users
      .col-md-6
        h2= userProfile.profile.name
        p= userProfile.profile.description
        p
          a.btn.btn-raised(href=`creator/${userProfile.id}`, role='button') View details »
