extends ../../layout

block content
    h1= `${creator.profile.name}'s Post`
    p.lead= content.title
    hr
    if authorized
        h3= content.content
    else
        h4.text-center You have not paid or subscribed to this user to view this post! 😡
        h4.text-center Scan the QR code to pay for this post or click here to subscribe to this creator.
