extends ../layout

block content
    h1= `${creator.profile.name}'s Profile`
    p.lead View all of their posts!
    hr
    .row
        each content in contents
            .col-md-6
                h2= content.title
                p
                    a.btn.btn-raised(href=`/creator/${creator._id}/post/${content._id}`, role='button') View details »
